app/config.js

formula_geracao_token.lst
bakas/setups.js
bakas/user_datas.lst
bakas/link.md
bakas/exemple#1.js
app/config.js
bakas/exemple#2.js
bakas/doctorapp.json
app/setup/queryExemples.js
app/models/appointment.js
app/models/schedule.js
funcao
